@import './styles/global.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-scroll {
  overflow: hidden;
}
// /* BELOW 1344px (Smaller desktops) */

// @media (max-width: 84em) {
  
// }

// /* BELOW 1200px (Landscape Tablets) */

// @media (max-width: 75em) {
//   html {
//     font-size: 56.25%;
//   }


// }

// /* BELOW 944px (Tablets) */

// @media (max-width: 59em) {
//   html {
//     font-size: 50%;
//   }
  
// }

// /* BELOW 704px (Smaller tablets) */

// @media (max-width: 44em) {

// }

// /* BELOW 592px (Phones) */

// @media (max-width: 37em) {

// }