@import '../../../../styles/main/colors.scss';

.search {
  position: relative;
  overflow: hidden;
  border-radius: 36px;
  //height: 100%;
  &-input {
    width: 100%;
    height: 100%;
    padding: 1.7rem 8rem 1.7rem 3rem;
    background: #fafafa;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 165.4%;
    color: $color-paragraph-gray;
  }
  .btn {
    position: absolute;
    right: 0.6rem;
    top: 0.1rem;
    background-color: $color-primary-green;
  }
}
/* BELOW 1408px */

@media (max-width: 88em) {
  .search-input {
    display: none;
  }
}

/* BELOW 1200px (Landscape Tablets) */

@media (max-width: 75em) {


}

/* BELOW 944px (Tablets) */

@media (max-width: 59em) {

  
}

/* BELOW 704px (Smaller tablets) */

@media (max-width: 44em) {

}

/* BELOW 592px (Phones) */

@media (max-width: 37em) {

}