@import '../../../../styles/main/colors.scss';

.ads__card {
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  &-button {
    background-color: $color-white;
    color: $color-primary-blue;
  }
}

