@import '../../../../styles/main/colors.scss';

.product {
  // display: none;

  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 11.5rem 0rem 14rem;
  background-color: #fffafa;
  &__container { 
    position: relative;
  }
    &__details {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 9rem;
      &-img {
        background-color: #fffafa;
        background-blend-mode: multiply;
        background-size: contain;
        background-repeat: no-repeat;
        width: 40rem;
        height: 40rem;
      }
      &-info {
        .product-name {
          font-weight: 600;
          font-size: 4rem;
        }
        .product-paragraph {
          max-width: 65rem;
        }
      }
    }

    &-title {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 47px;
      color: #274c5b;
    }

    &-price {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      color: #274c5b;
      margin-bottom: 3.2rem;
    }

    &-discount {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: #b8b8b8;
      text-decoration: line-through;
      margin-right: 0.5rem;
    }

    &-paragraph {
      margin-bottom: 3.2rem;
      max-width: 65rem;
    }

    &__controls {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
    &__buttons {
      max-width: 65rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      margin-bottom: 3rem;
    }
    &__description {
      text-align: center;
      // &-button {
      //   margin: 1.6rem 1rem;
      // }
    }
    &-close {
      padding: 1rem 3rem;
      position: absolute;
      top: 0;
      right: 0;
    }
  
}
