@import '../../../styles/global.scss';

.order {
  background: rgba(253, 176, 45, 0.16);
  @include heading;
  padding-bottom: 8.7rem;
  .product {
    padding-top: 15rem;
    @include container;
    display: flex;
    align-items: center;
    //justify-content: space-between;

    position: relative;
    &-img {
      background-image: url('../../../img/products-pistachios.png');
      background-position: center;
      background-size: cover;
      background-color: rgba(253, 176, 45, 0.16);
      background-blend-mode: multiply;
      width: 29rem;
      height: 23rem;
    }
    &-wrapper {
      margin: 0 auto 0 2rem;
      display: flex;
      font-weight: 600;
      font-size: 4rem;
      line-height: 4.7rem;
    }
    &-heading {
    }
    &-price {
    }
    &-discount {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: #b8b8b8;
      text-decoration: line-through;
    }
    &__quantity {
      &-label {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
        margin-right: 2rem;
        width: min-content;
      }
      &-input {
        display: inline-block;
        padding: 3rem;
        width: 13rem;

        background: #ffffff;
        border: 2px solid #274c5b;
        border-radius: 16px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
      }
    }
  }
  &__total {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    margin-bottom: 7.6rem;
    &-cost {
      font-weight: 700;
      font-size: 4rem;
      line-height: 4.7rem;
      gap: 3rem;
    }
  }
  &-close {
    @include button;
    position: absolute;
    bottom: 21%;
    right: -5%;
    width: 64px;
    height: 46px;
  }
  &-to {
    @include button;
    margin: 0 auto;
    padding: 23px 57px !important;
    line-height: 2.3rem;
  }
}
