@import '../../../../styles/main/colors.scss';

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  width: 68.2rem;
  height: 36rem;
  &__text {
    padding-left: 5.4rem;
    &-heading {
      font-size: 4rem;
      max-width: 27rem;
      line-height: 4.7rem;
    }
  }
  &--1 {
    background-image: url('../../../../img/ads-banner1.png');
  }
  &--2 {
    background-image: url('../../../../img/ads-banner2.png');
  }
}