@mixin heading() {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: $color-primary-blue;
}

@mixin subheading() {
  font-family: 'Yellowtail';
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: $color-primary-green;
}

@mixin paragraph() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: $color-paragraph-gray;
}

@mixin container() {
  max-width: 150rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin: 0 auto;
}