@mixin heading() {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 59px;
  color: $color-primary-blue;
}

@mixin subheading() {
  font-family: 'Yellowtail';
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: $color-primary-green;
}

@mixin paragraph() {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 165.4%;
  color: $color-paragraph-gray;
}

@mixin button() {
  border-radius: 16px;
  padding: 2.8rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: 'Roboto', sans-serif;
  color: $color-white;
  font-size: 2rem;
  font-weight: 700;
  background-color: $color-primary-blue;
  width: auto;
}