@import '../../../styles/main/colors.scss';

.benefits__card {
  border-radius: 50%;
  border: 2px solid $color-primary-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 19rem;
  height: 19rem;
  background: #F1F1F1;
  &-paragraph {
    font-weight: 600;
  }
}