@import '../../../styles/main/colors.scss';

.testimonials {
  padding-top: 16.4rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  // margin-bottom: 20rem;
  padding-bottom: 16.4rem;
  & > img {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    // max-height: 120rem;
  }
  &-bg--left {
    left: 0;
  }
  &-bg--right {
    right: 0;
    transform: rotate(180deg);
  }
  &-subheading {
    margin-bottom: 0.8rem;
  }
  &-heading {
    margin-bottom: 5.1rem;
  }
  .feedback {
    max-width: 80rem;
    background-color: $color-white;
    border-radius: 30px;
    &__person {
      &-avatar {
        margin: 0 auto;
        display: block;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
      &-rate {
        margin-bottom: 2.5rem;
      }
    }
    &-paragraph {
      margin-bottom: 2rem;
    }
    .person-name {
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 2.9rem;
    }
    .person-role {
      font-size: 1.5rem;
    }
  }
  &-separate {
    border-top: 1px solid #bbb;
      max-width: 110rem;
      margin: 11rem auto;
  }

  .benefits {
    display: flex;
    justify-content: space-between;
    max-width: 110rem;
  }
}

@media (max-width: 75em) {
  


}