@import '../../../../../styles/global.scss';

.product {
  padding-top: 15rem;
  display: flex;
  align-items: center;
  position: relative;
  &-img {
    background-image: url('../../../../../img/products-pistachios.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(253, 176, 45, 0.16);
    background-blend-mode: multiply;
    width: 29rem;
    height: 23rem;
  }
  &-wrapper {
    margin: 0 auto 0 2rem;
    display: flex;
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.7rem;
    .product-name {
      font-weight: 600;
      font-size: 4rem;
      line-height: 4.7rem;
    }
    .product-price {
      font-family: 'Roboto', sans-serif;
      transform: scale(1.4);
      margin-left: 2rem;
    }
  }
  &-discount {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #b8b8b8;
    text-decoration: line-through;
  } 
  &__quantity {
    &-label {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.8rem;
      margin-right: 2rem;
    }
    &-input {
      display: inline-block;
      padding: 3rem;
      width: 13rem;
      background: $color-white;
      border: 2px solid #274c5b;
      border-radius: 16px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
    }
  }
  &-remove {
    position: absolute;
    bottom: 21%;
    right: -5%;
    width: 64px;
    height: 46px;
  }
}